<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="神州专车接机、送机覆盖全国35大机场，手机预定，轻松便捷，24小时专人专车,随叫随到。">
<meta name="keywords" content="机场接机服务,送机服务,预约用车,随叫随到,神州专车">
<meta name="WT.cg_n" content="首页">
<title>神州专车-接机、送机，预约用车，专人专车，随叫随到！</title>
<link href="zhuanche_global.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: rgb(255, 255, 255);">
<link rel="stylesheet" type="text/css" href="global.css">
<input id="mebId" value="13063998" type="hidden">
<script type="text/javascript">
	var carwrmURL='http://static.zuchecdn.com';
	var carwrmjsURL = 'http://js.zuchecdn.com';
	var carwrmimageURL = 'http://image.zuchecdn.com';
	var carwrmcssURL = 'http://css.zuchecdn.com';
	var carwlomURL = "http://changzu.zuche.com";
	var carwcmsURL='http://huodong.zuche.com';
	var carwdmURL = "http://service.zuche.com";
	var carwepmURL='http://carbusiness.zuche.com';
	var carwlmURL='https://passport.zuche.com';
	var carwmmURL = "http://mycar.zuche.com";
	var carwsomURL='http://www.zuche.com';
	var enURL='http://en.zuche.com';
	var orderURL='http://order.zuche.com';
	var leasingURL='http://leasing.zuche.com';
	var easyrideURL='http://easyride.zuche.com';
	var serviceURL='http://service.zuche.com';
	var carbusinessURL='http://carbusiness.zuche.com';
	var driverURL='http://cd.zuche.com';
	var carwsztoneURL="http://carbusiness.zuche.com";
</script><script type="text/javascript" src="sea_001.js"></script>
<script type="text/javascript" src="seajs-preload_001.js"></script>
<script type="text/javascript" src="seaconfig_001.js"></script><script type="text/javascript">
	seajs.use(['jspath/common/header']); //引入js
</script>

<form action="https://passport.zuche.com/memberManage/xtoploginMember.do" id="loginTopForm" target="_parent" method="post">
	<input id="act" name="act" value="loginSys" type="hidden">
	<input id="historyLocation" name="historyLocation" type="hidden">
</form>
<div class="sz_hd_cont">
	<div class="sz_hd">
		<div class="sz_login fl" id="notLogin">
		欢迎光临神州租车，请<a href="javascript:void(0);" class="orange" id="loginBT"> 登录 </a>或<a href="xtoploginMember.html" class="orange"> 注册 </a></div>
		<div class="sz_login fl" id="alreadyLogin" style="display: none;"><font id="topLoginName">神州租车欢迎您，</font><a href="default_006.html" class="blue8e"> 退出</a></div>
		<div class="sz-szbtsbox" id="szbTipDiv" style="display: none;"><div class="sz-szbts"><span class="dsj"></span>登录后，即享积分返利！ <a href="#" class="close">&nbsp;</a></div></div>
		<div class="fl sz-hd-phone" onmouseover="document.getElementById('phoneszlist').style.display='block'" onmouseout="document.getElementById('phoneszlist').style.display='none'">
			<a class="bdnone">|&nbsp;<span class="mobile">&nbsp;</span>手机版 <span class="contmyszdown">&nbsp;</span></a>
			<div id="phoneszlist" class="phoneszlist d_none">
				<dl>
					<dt onclick="window.open('http://shouji.zuche.com');">&nbsp;|&nbsp;<span class="mobile-bs">&nbsp;</span>手机版 <span class="contmyszup">&nbsp;</span></dt>
					<dd>
						<a href="javascript:;" class="bold">扫描二维码下载</a>
						<a href="default_306.html" class="bold" target="_blank">神州租车手机版</a>
						<a href="id454685734.html" target="_blank" class="indexiosxz">iPhone版下载</a>
						<a href="http://static.zuchecdn.com/download/SZZC.apk" target="_blank" class="indexandroidxz">Android版下载</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="fl sz_hldz">中国汽车租赁行业领导者</div>
		<div class="clear">&nbsp;</div>
		<div class="sz_toolkit">
			<ul>
				<li class="contmysz" onmouseover="document.getElementById('contmyszlist').style.display='block'" onmouseout="document.getElementById('contmyszlist').style.display='none'">
					<a href="queryOrder.html" class="bdnone">我的神州 <span class="contmyszdown">&nbsp;</span></a>
					<div id="contmyszlist" class="contmyszlist d_none">
						<dl>
							<dt>我的神州 <span class="contmyszup">&nbsp;</span></dt>
							<dd style="position: relative;">
								<a href="queryOrder.html">我的订单</a>
								</dd>
							<dd><a href="queryAllPoint.html">我的资产</a></dd>
							<dd><a href="manage.html">我的账户</a></dd>							
						</dl>
						</div>
				</li>
				<li><a target="_blank" href="default_303.html">网站导航</a></li>
				<li><a target="_blank" href="default_308.html">帮助中心</a></li>
				<li><a target="_blank" href="default_305.html" class="pr0">English</a></li>
				<li class="telDown">
				<div class="phone fl" style="cursor: pointer;">&nbsp;</div>
				<sapn style="display: inline-block; width: 20px; height: 29px; background: url(&quot;telDown.png&quot;) no-repeat scroll center center transparent; cursor: pointer;"></sapn>
				<img alt="" src="telother.png" style="display: none; position: absolute; right: 0px; top: 30px;">
				</li>
			</ul>
		</div>
	</div>
</div>
<!--nav-->
<div class="sz_nav">
	<div class="base_nav">
		<div class="index_logo" onclick="location='http://www.zuche.com' "></div>
		<div class="sz_menu">
			<ul>
				<li>
					<a id="top_monitor_index" target="_parent" href="index.html">
						首页
					</a>
				</li>
				<li>
					<a id="top_monitor_short" target="_parent" href="OrderSecondControl.html">
						上门取送
					</a>
				</li>
				<li>
					<a id="top_monitor_short" target="_parent" href="OrderSecondControl_001.html">
						到店取还
					</a>
				</li>
				<li class="cur">
							<a id="top_monitor_driver" target="_parent" href="#">
								神州专车
							</a>
						</li>
					<li>
					<a id="top_monitor_long" target="_parent" href="default_001.html">
						长租服务
					</a>
				</li>
				<li>
					<a id="top_monitor_enterprise" target="_parent" href="default_002.html"> 
						企业租车
					</a>
				</li>
				<li>
					<a id="top_monitor_convenience" target="_parent" href="default_003.html">
						顺风车站
					</a>
				</li>
				<li class="none980">
					<a id="top_monitor_store" target="_parent" href="http://service.zuche.com/">
						门店查询
					</a>
				</li>
				<li class="none980">
					<a id="top_monitor_usedCar" target="_blank" href="default_004.html">
						特惠活动
					</a>
				</li>
				<li class="none980">
					<a id="top_monitor_internationalCar" href="default_005.html">
						国际租车
					</a>
				</li>
				<li class="morecur">
					<a href="#">更多<span class="index_moreup">&nbsp;</span></a>
					<div class="sz_more_menu">
						<dl class="clearfix">
							<dd class="sz_m_m_l">&nbsp;</dd>
							<dd class="sz_m_m_b" style="padding: 0px;"><a target="_parent" href="http://service.zuche.com/">门店查询</a></dd>
							<dd class="sz_m_m_b"><a target="_blank" href="default_004.html">特惠活动</a></dd>
							<dd class="sz_m_m_b"><a href="default_005.html">国际租车</a></dd>
							<dd class="sz_m_m_r">&nbsp;</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div><div class="longConCam">
	<div class="indexShow">
		<a href="javascript:void(0)" class="ucar_indexShowLeft" hidefocus="hideFocus"></a>
		<a href="javascript:void(0)" class="ucar_indexShowRight" hidefocus="hideFocus"></a>
		<div class="indexShowBox">
			<ul>
				<li>
					<div style="background-image: url(&quot;20160922fanli100d150_pc.jpg&quot;);" class="img" onclick="window.open('http://www.10101111.com/jsp/topic/r100s50_activity.html?fr=mk.zuche_bn_0922')">&nbsp;</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="ucar_ul_cont">
	<div id="box">
		<ul name="product" class="gallery" id="product">
			<li>
				<img src="1.jpg" class="hoverimg">
				<div class="ucar_zyhover"><br><br><br><br><br>专业车辆<br><a><img src="quanjia.png" height="21" width="21"></a></div>
			</li>
			<li class="m">
				<img src="2.jpg" class="hoverimg">
				<div class="ucar_zyhover"><br><br><br><br><br>专业司机<br><a><img src="quanjia.png" height="21" width="21"></a></div>
			</li>
			<li>
				<img src="3.jpg" class="hoverimg">
				<div class="ucar_zyhover"><br><br><br><br><br>百万保障<br><a><img src="quanjia.png" height="21" width="21"></a></div>
			</li>
		</ul>
	</div>
	<div id="bottom">
    	<a class="prev"></a>
        <a class="img"></a>
        <a class="next"></a>
        <a class="close"></a>
	</div>
	<div id="frame"></div>
	<dl>
		<dd class="fl u_d_w1">
			<span class="oncall"></span>
			<h2>立即叫车</h2>
			<p>为了您的出行，车辆随时待命</p>
		</dd>
		<dd class="fl m u_d_w2">
			<span class="subscribe"></span>
			<h2>预约用车</h2>
			<p>私人管家式安排，不辜负您的每一次预约</p>
		</dd>
		<dd class="fr u_d_w4">
			<span class="sj"></span>
			<h2>接送机</h2>
			<p>VIP接送机，准时到达绝不延误</p>
		</dd>
	</dl>
</div>

<div class="ucar_phone" name="app" id="app">
	<div class="ucar_p_box">
		<div class="ucar_p_box_p">
			<h2>自在旅程   一触即发</h2>
			<p>点击下载APP或扫描右侧二维码，畅享神州专车之旅</p>
			<div class="clear"></div>
			<div class="fl">
				<a href="https://itunes.apple.com/cn/app/shen-zhou-zhuan-che/id953939112?mt=8" onclick="dcsMultiTrack('DCS.dcsuri', '/WTzhuancheAPPDownload10101111iphone','WT.ti', '专车APP下载10101111苹果','WT.click', 'zhuancheAPPDownload10101111iphone');"><img src="iosbut.png"></a>
				<a href="http://static.10101111cdn.com/download/SZZC_CD_C.apk" onclick="dcsMultiTrack('DCS.dcsuri', '/WTzhuancheAPPDownload10101111android','WT.ti', '专车APP下载10101111安卓','WT.click', 'zhuancheAPPDownload10101111android');"><img src="androidbut.png"></a>
			</div>
			<div class="fl b"><img src="ucar_qrcode.png"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="ucar_p_b1"></div>
	<div class="ucar_p_b2"></div>
</div>
<!-- price info start ---->
<div class="ucar_introduce" name="introduce" id="introduce">
  <h1>随心选择您中意的车型</h1>
  <ul class="ucar_introduce_ul">
    <li class="gw_car cur carGroupLi" data="2"><p>公务轿车</p></li>
    <li class="sw_car carGroupLi" data="3"><p>商务7座</p></li>
    <li class="hh_car carGroupLi" data="4"><p>豪华轿车</p></li>
  </ul>
  <div class="ucar_introduce_con cur">
  </div>
  <div class="prev price_list_prev" onclick="javascript:void(0);">Previous</div>
  <div class="next price_list_next" onclick="javascript:void(0);">Next</div>
</div>
<!--价格模板-->
<script id="noPriceListTemplate" type="text/x-jsrender">
   <img src="http://image.zuchecdn.com/newversion/zhuanche/no_price.png">
</script>
<script id="priceListTemplate" type="text/x-jsrender">
  {{if groupId == 2}}
    <img src="http://image.zuchecdn.com/newversion/zhuanche/gw_carbg.jpg?v=201501231100">
  {{else groupId == 3}}
    <img src="http://image.zuchecdn.com/newversion/zhuanche/sw_carbg.jpg?v=201501231100">
  {{else groupId == 4}}
    <img src="http://image.zuchecdn.com/newversion/zhuanche/hh_carbg.jpg?v=201501231100" style="margin-bottom: 20px;">
  {{/if}}
    <div class="v_content_list">
      <ul>
    {{for priceList}}
        <li>
          <h2><b>{{>serviceTypeName}}：</b>{{>brand}}</h2>
          <div class="p">
            <div class="fl w20">
              <span class="money"><img src="http://image.zuchecdn.com/newversion/zhuanche/moneysymbol.gif"> </span>
              <span class="number">{{>basePrice}}</span>
              {{if (termHour && termHour > 0) || (freeDistance && freeDistance > 0)}}
                <span class="font">套餐价</span>
                <br><span class="font">（含{{>termHour}}小时、{{>freeDistance}}公里）</span>&nbsp;&nbsp;
              {{else}}
                <span class="font">起步价</span>
              {{/if}}
            </div>
            <div class="fl">
              <span class="addh"><img src="http://image.zuchecdn.com/newversion/zhuanche/addsymbol.gif"> </span>
            </div>
            <div class="fl w20">
              <span class="money"><img src="http://image.zuchecdn.com/newversion/zhuanche/moneysymbol.gif"></span>
              <span class="number">{{>perMinute}}</span>
              <span class="font">/ 分钟</span>
              {{if termHour && termHour > 0}}
                <br><span class="font">（超时长费）</span>&nbsp;&nbsp;
              {{/if}}
            </div>
            <div class="fl">
              <span class="addh"><img src="http://image.zuchecdn.com/newversion/zhuanche/addsymbol.gif"> </span>
            </div>
            <div class="fl w20">
              <span class="money"><img src="http://image.zuchecdn.com/newversion/zhuanche/moneysymbol.gif"></span>
              <span class="number">{{>perKilometer}}</span>
              <span class="font">/ 公里</span>
              {{if freeDistance && freeDistance > 0}}
                <br><span class="font">（超里程费）</span>&nbsp;&nbsp;
              {{/if}}
            </div>
            <div class="clear"></div>
          </div>
        </li>
  {{/for}}
   </ul>
</div>
</script><!-- price info end ---->
<div class="dredge_ucity">
	<div class="ucar_pa">
		<span citycode="1" class="cityItem">北京</span>
		<span citycode="6" class="cityItem">上海</span>
		<span citycode="14" class="cityItem">广州</span>
		<span citycode="15" class="cityItem">深圳</span>
		<span citycode="23" class="cityItem">长春</span>
		<span citycode="24" class="cityItem">长沙</span>
		<span citycode="119" class="cityItem">常州</span>
		<span citycode="11" class="cityItem">成都</span>
		<span citycode="12" class="cityItem">重庆</span>
		<span citycode="293" class="cityItem">大理</span>
		<span citycode="3" class="cityItem">大连</span>
		<span citycode="229" class="cityItem">东莞</span>
		<span citycode="227" class="cityItem">佛山</span>
		<span citycode="13" class="cityItem">福州</span>
		<span citycode="339" class="cityItem">贵阳</span>
		<span citycode="247" class="cityItem">桂林</span>
		<span citycode="25" class="cityItem">哈尔滨</span>
		<span citycode="16" class="cityItem">海口</span>
		<span citycode="8" class="cityItem">杭州</span>
		<span citycode="26" class="cityItem">合肥</span>
		<span citycode="231" class="cityItem">惠州</span>
		<span citycode="5" class="cityItem">济南</span>
		<span citycode="367" class="cityItem">晋江</span>
		<span citycode="27" class="cityItem">昆明</span>
		<span citycode="306" class="cityItem">兰州</span>
		<span citycode="182" class="cityItem">洛阳</span>
		<span citycode="28" class="cityItem">南昌</span>
		<span citycode="7" class="cityItem">南京</span>
		<span citycode="242" class="cityItem">南宁</span>
		<span citycode="122" class="cityItem">南通</span>
		<span citycode="29" class="cityItem">宁波</span>
		<span citycode="4" class="cityItem">青岛</span>
		<span citycode="157" class="cityItem">泉州</span>
		<span citycode="17" class="cityItem">三亚</span>
		<span citycode="21" class="cityItem">沈阳</span>
		<span citycode="33" class="cityItem">石家庄</span>
		<span citycode="19" class="cityItem">苏州</span>
		<span citycode="30" class="cityItem">太原</span>
		<span citycode="40" class="cityItem">唐山</span>
		<span citycode="2" class="cityItem">天津</span>
		<span citycode="127" class="cityItem">温州</span>
		<span citycode="116" class="cityItem">无锡</span>
		<span citycode="20" class="cityItem">武汉</span>
		<span citycode="22" class="cityItem">西安</span>
		<span citycode="319" class="cityItem">西宁</span>
		<span citycode="18" class="cityItem">厦门</span>
		<span citycode="466" class="cityItem">咸阳</span>
		<span citycode="117" class="cityItem">徐州</span>
		<span citycode="175" class="cityItem">烟台</span>
		<span citycode="120" class="cityItem">扬州</span>
		<span citycode="368" class="cityItem">义乌</span>
		<span citycode="326" class="cityItem">银川</span>
		<span citycode="31" class="cityItem">郑州</span>
		<span citycode="228" class="cityItem">中山</span>
		<span citycode="32" class="cityItem">珠海</span>
		<span citycode="54" class="cityItem">呼和浩特</span>
		<span citycode="329" class="cityItem">乌鲁木齐</span>
		<span citycode="296" class="cityItem">西双版纳</span>
		<p>更多城市筹备中，敬请期待！</p>
	</div>
	<input value="1" id="defaultCityCode" type="hidden">
</div>
<script type="text/javascript">
	seajs.use(['jspath/common/jsrender','jspath/jquery/jquery.slide-zhuanche','jspath/jquery/jquery.slide-sz','jspath/jquery/jquery.hoverdelay','jspath/epm/driving/zhuanche','jspath/epm/driving/price_info']); //引入js
</script>
<script>

</script>
<div class="sz_footer">
	<p>
		<a title="关于我们" href="default_298.html">关于我们</a>
		|&nbsp;<a title="投资者关系" target="_blank" href="default_300.html">投资者关系</a>
		|&nbsp;<a rel="nofollow" target="_parent" title="新闻中心" href="default_007.html">新闻中心</a>
		|&nbsp;<a title="加盟合作" target="_parent" href="default_301.html">加盟合作</a>
		|&nbsp;<a title="隐私保护" target="_parent" href="default_302.html">隐私保护</a>
		|&nbsp;<a title="网站导航" target="_parent" href="default_303.html">网站导航</a>
		|&nbsp;<a title="联系我们" target="_parent" href="default_304.html">联系我们</a>
		|&nbsp;<a title="招贤纳士" target="_blank" href="http://hr.zuche.com/">招贤纳士</a>
	</p>
	<p class="p10">
		<a target="_blank" href="verifyseal.html" tabindex="-1" id="urlknet" class="sz_k">&nbsp;</a>
		<a target="_blank" id="___szfw_logo___" href="CX20121016001772002081.html" title="诚信网站" class="sz_c">&nbsp;</a>
	</p>
	<p>Copyright©2008-2016 www.zuche.com All Rights Reserved. </p>
	<p>如果您对神州租车网站有任何意见,欢迎发送邮件到 web@zuche.com </p>
	<p>神州租车官网 京ICP备10005002号&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;京公网安备号 11010502026705</p>
</div>

<script type="text/javascript">
	seajs.use(['jspath/dcs_tag_zc.js']);
</script>
<script type="text/javascript" src="bdshare.js"></script>




</body></html>
